:root {
  --color-primary:#f46524;
  --color-secondary:#ff6d01;
  --color-tertiary:#334960;
  --color-quaternary: black;
  --color-quinary: #f8f2eb;
  --color-senary: #e1ecff;
}

h1 {
  color: var(--color-primary);
}

h2 {
  color: var(--color-secondary);
}

h3 {
  color: var(--color-tertiary);
}